sphinx>=3.0
recommonmark
awscli
sphinx-autobuild
f5-sphinx-theme>=2.0.8
sphinx-rtd-theme
cloud_sptheme
sphinxjp.themes.basicstrap>=0.5.0
virtualenv
boto3
sphinx
sphinx-js
tornado==3.2
sphinx-copybutton
commonmark
recommonmark
sphinxcontrib-blockdiag
sphinxcontrib-nwdiag
sphinxcontrib-addmetahtml
sphinxcontrib-serializinghtml
sphinxcontrib-mermaid
sphinxcontrib-youtube
sphinxcontrib-yt
sphinxprettysearchresults
sphinx-markdown-tables
boto3
gitpython
yattag
git+https://github.com/nerdoftech/s3_index_generator.git@0.2.0
pre-commit
