awscli
botocore
boto3
cloud_sptheme
colorama
commonmark
f5-sphinx-theme>=2.0.8
gitpython
pre-commit
recommonmark
sphinx
sphinx-autobuild
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-addmetahtml
sphinxcontrib-blockdiag
sphinxcontrib-mermaid
sphinx-multiversion
sphinxcontrib-nwdiag
sphinxcontrib-serializinghtml
sphinxcontrib-youtube
sphinxcontrib-yt
sphinxjp.themes.basicstrap>=0.5.0
sphinxprettysearchresults
tornado==3.2
virtualenv
yattag
