		.mktoFieldDescriptor {
			height: 42px;
		} 
		.mktoForm .mktoCheckboxList, .mktoForm .mktoCheckboxList > input {
			padding: 0px !important;
		}
		.mktoForm .mktoFormRow {
			clear: none !important;
			margin-top: 0px;
		} 
		.Footnote {
			margin-top: 20px;
		}