    .container { max-width: 1080px; }
    .col-sm-4 li {
        text-align: left; 
    }  
    .footer a, .footer a:visited {
        color: #C1C1C1;
        line-height: 26px;
    } 
.navbar-default {
    background-color: #FFF;
    border-bottom: 14px solid #9E9E9E;
  }
.navbar-default .navbar-nav > li > a {
    color: #4D4F53;
    line-height: 61px;
    font-size: 18px;
    font-family: Proxima,Helvetica,Arial,sans-serif;
    padding: 0px 12px;
    margin-top: 5px;
	font-size: 18px;
	font-weight: 700;display: inline-block;
} 
    
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: #004892;    
} 
.navbar-header .navbar-brand {
    float: left;
    margin-right: 10px;
    margin-top: 0px;    
    padding: 12px 0px 12px 15px;  
} 
#PrimaryNav {
      margin-top: 0px;
	  display: block;      
}
.footer {
    color: #4D4F53;
    min-height: 0px;
    background: none repeat scroll 0% 0% #FFF;
    width:100%;
    position: absolute;
    bottom: 0px;   
    padding: 0px;  
}
.footer .container {
    color: #4D4F53;
    min-height: 0px;
    background: none repeat scroll 0% 0% #FFF;
    margin: 0px 60px;
    border-top: 1px solid #4D4F53;
    padding: 25px 15px;    
}    
.footer, .footer a, .footer a:visited {
    color: #4D4F53;

}  
.footer .footer-links {
    float: left;
    width: 57.5%;
}
.footer .footer-links {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 15px;
    text-align: left;
}
.footer .footer-icons {
    float: left;
    width: 42.5%;    
}
    
.footer .footer-disclaimer {
    clear: both;
    padding-top: 10px;      
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;  
    width: 100%;              
}
        
.footer .footer-icons {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}   
.footer .footer-links ul {
    padding-left: 0px;
    list-style: outside none none;
    margin: 0px;
} 
.footer .footer-links ul > li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
} 
.footer a:hover {
    color: #B3B5B9;
    text-decoration: none;
}  
span.lpContentsItem.richTextSpan h1 {
      color: #ed7b03;
}  

#F5-Footer .socialicons {
    margin-right: 5px;
    width: 18px;
    height: 18px;
    margin: 0px 14px 2px 9px;
}    
    
/* Mobile Nav */
.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.46667;
    -moz-user-select: none;
    color: #4D4F53;
    background-color: #fff;    
}    
.navbar > .navbar-inner > .container > .btn.btn-right {
    right: auto;
    left: -1%;
}
.navbar > .navbar-inner > .container > .btn {
    padding: 8px 24px;
    margin: 6px 0px 10px;
    position: absolute;
    right: -1%;
    color: #4D4F53;
    background-color: #fff;
}      
.icon-nav::before {
    content: "";
}
*:before, *:after {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
}
.window.navbar > .navbar-inner > .container > .btn {
    color: #4D4F53;
}   
    
.hidden-xs {
  display: block;
}
.visible-xs {
    display: none;
}       
    
@media (min-width: 768px) {
  #PrimaryNav {
        display: block !important;      
  }   
  .mobileonly { 
      display: none !important;
  }  
}
    
@media (min-width: 768px) and (max-width: 991px) {
    #bodyId {
      background-color: #fff; 
    }      
	/* .hidden-sm.hidden-xs {
		display: block;
	} 
    DIV#mktContent {
        height: 100%;
    } */ 
    .mktoForm, .lpeRegForm {
      margin-top: 30px;
    }    
}
  
@media (max-width: 767px) {
  .hidden-xs, #PrimaryNav {
    display: none;
  }  
  .visible-xs {
    display: block;        
  } 
  .navbar-default .navbar-nav > li > a {
		padding: 14px 20px 8px 20px;
  }   
} 
@media (max-width: 767px) {
    #bodyId {
      background-color: #fff; 
    }  
.mobileonly { 
	display: block;
}      
	.navbar-default .navbar-nav > li > a {
		color: rgb(255, 255, 255);
		background-color: transparent;
		font-size: 18px;
		font-family: Proxima,Helvetica,Arial,sans-serif;
		display: block;
		color: #ffffff;
		height: 44px;   
		text-align: left;          
		padding: 14px 20px 8px 20px;
        line-height: 21px;
        margin-top: 0px;
      	font-weight:300;
	}
  	.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:active,.navbar-default .navbar-nav > li > a:focus {
        background-color: #66686D;
        color: #FFF;           
	}      
	.navbar-default .navbar-nav > li {	
		border-top: 1px solid rgb(82, 97, 109);
		box-sizing: border-box;
		color: #ffffff);
		display: block;
		height: 45px;
		list-style-image: none;
		list-style-position: outside;
		list-style-type: none;
        position: static;
		width: 250px;
	}
	.window.window-right, #PrimaryNav {
		-webkit-transition-delay: 0s;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-property: all;
		-webkit-transition-timing-function: ease;
		background-color: rgb(77, 79, 83);
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		display: none;
		height: 100%;
		right: auto;
		line-height: 22px;
		overflow-x: hidden;
		overflow-y: hidden;
		position: fixed;
		left: 0px;
		top: 0px;
		transition-delay: 0s;
		transition-duration: 0.3s;
		transition-property: all;
		transition-timing-function: ease;
		width: 250px;
		z-index: 931;
	}
    .navbar {
        border-bottom: none;     
    }
    .navbar-inner  {  
        right: 0px;
        position: relative;  
    } 
    .navbar-inner.expanded  {  
        right: -250px;		
    }           
    .navbar .navbar-inner {
        min-height: 80px;
        background-color: #FFF;
        /* padding: 0px 24px; */
    }           
    .navbar .navbar-inner .container {
        min-height: 80px;      
        padding-top: 20px;
        padding-bottom: 15px;
        border-bottom: 10px solid #5F6167;    
    }   
    .navbar-nav {
        margin: 0px;
    }
    DIV#outerWrapDiv {
        height: auto !important;
    }
    DIV#mktContent {
        height: 100% !important;
    }
    .footer {
        position: relative;
        top: 150px;
    }    
}   
    
@media (max-width: 991px) {
	div.lpeCElement.Banner, div.lpeCElement.Headline, div.lpeCElement.Footnote  {
		width: 100% !important;  
		left: 0px !important;   
		margin: auto !important;  
		text-align: center !important;  
		height: auto !important;      
	}
	div.lpeCElement.Banner span.lpContentsItem img.lpimg {
		width: auto !important;  
		height: auto !important;  	
		max-width: 100% !important;  
	}
	div.lpeCElement.Content {	
		left: 0px !important;  
		width: 50% !important;  
		max-width: 455px !important;  
		margin: auto !important;
		height: auto !important;       
	}    
	div.lpeCElement.Form {	
		right: 0px !important;  
		left: 55% !important;       
		width: 40% !important;  
		max-width: 455px !important;  
		margin: auto !important;
		height: auto !important;       
	}
  span.lpContentsItem.richTextSpan {
      padding: 24px;
  }
  span.lpContentsItem.richTextSpan h1 {
      font-family: arial,helvetica,sans-serif; font-weight: 400; font-size: 35px !important; line-height: 40px; color: #ed7b03; text-align: center;
  }    
}
@media (max-width: 767px) {	
 	div#innerWrapDiv {
		padding: 0px 25px;
	}
	div.lpeCElement.Banner, div.lpeCElement.Headline, div.lpeCElement.Footnote  {
		position: relative !important;  
		top: auto !important;  
	}
    div.lpeCElement.Footnote {
		top: 60px !important;
	}       
	div.lpeCElement.Content {	
		position: relative !important;  
		left: auto !important;  
		top: 30px !important;  
		width: 100% !important;  
		max-width: 455px !important;  
		margin: auto !important;  
	}

	div.lpeCElement.Form {
		position: relative !important;  
		left: auto !important;  
		top: 50px !important;  
		width: 100% !important;  
		height: auto !important;  
		margin: auto !important;  
	}
	span.lpContentsItem.richTextSpan {
		padding: 0px;
	}    
	form, .mktoForm .mktoFormCol, .mktoForm .mktoFieldWrap, .mktoForm .mktoFormRow input.mktoField, select.mktoField, input.mktFormText, select.mktFormSelect, .mktInput #State {
		width:100% !important; margin: auto  !important; height: auto; font-size: 15px !important;
	}
    .mktoForm .mktoRadioList, .mktoForm .mktoCheckboxList {
		width: 25px !important;
	}
    .mktoForm .mktoFormRow label.mktoLabel[for="Pub-Insite"] {
        float: left;
        width: auto !important;      
        font-size: 13px;
    } 
  span.lpContentsItem.richTextSpan h1 {
      font-family: arial,helvetica,sans-serif; font-weight: 400; font-size: 24px !important; line-height: 28px !important; color: #ed7b03; text-align: center;
  }  
  .mktoButtonRow {
        margin-top: 40px !important;   
  }  

  .footer .footer-icons {
      top: -110px;
      width: 100%;
      text-align: center;
      padding: 0px;
  }
  
  .footer .footer-links {
      width: 100%;
      text-align: center;
      padding: 0px;
  }
    
  .footer .footer-disclaimer {
      clear: both;
      padding: 0px;
      text-align: center;
      width: 100%;
      font-size: 10px;
      line-height: 12px;  
      top: -40px;
      position: relative;   
  }  

  .footer .footer-disclaimer .pull-right { float: none !important; }   
    
  .footer a, .footer a:visited {
      font-size: 12px;
      line-height: 21px;
  } 
    
  .footer .container {
      margin: 0px 24px;
      padding: 15px 0px;
  }  

  .footer small {
      line-height: 1.3em;
      font-size: 10px;
  }    
    
}

@media (max-width: 399px) {	
    .mktoForm .mktoFormRow label.mktoLabel[for="Pub-Insite"] {  
        float: right;
        width: auto;
        font-size: 13px;
        max-width: 250px !important;
    }           

  .footer .footer-icons {
      top: -120px;
      width: 100%;
      text-align: center;
  }
        
} 
    

@media (max-width: 349px) {	
    .mktoForm .mktoFormRow label.mktoLabel[for="Pub-Insite"] {  
        float: right;
        width: auto;
        font-size: 13px;
        max-width: 210px !important;
    } 

  .footer .footer-icons {
      top: -140px;
      width: 100%;
      text-align: center;
  }        
}      

	
body,form {
	margin:0
}
* {
	box-sizing:border-box
}

html {
	font-size:62.5%;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
body {
	font-family:Proxima,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size:15px;
	font-weight:300;
	line-height:22px;
	color:#4d4f53;
	background-color:#fff;
	position:relative
}
.socialicons {margin-right:5px; width:18px; height:18px}


[class*="bullet-"] li {
	padding-left:1.5em
}
.container {
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px
}
@media (min-width:768px) {
	.container {
		width:750px
	}
}
@media (min-width:992px) {
	.container {
		width:970px
	}
}
@media (min-width:1200px) {
	.container {
		width:1170px
	}
}
.list-unstyled,#F5-Footer ul {
	padding-left:0;
	list-style:none;
	text-align:left;
}
.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.dnnClear:before,.dnnClear:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar-header:before,.navbar-header:after,[class*="well-"]:before,[class*="well-"]:after,.modal-footer:before,.modal-footer:after,.block:before,.block:after,.frame:before,.frame:after,.content-image-block:before,.content-image-block:after,.profile:before,.profile:after,.gutter:before,.gutter:after,.article:before,.article:after,.listing-item:before,.listing-item:after,#F5-Footer ul.links:before,#F5-Footer ul.links:after,#F5-Footer .sub-footer:before,#F5-Footer .sub-footer:after,.toolbar>.btn-group:before,.toolbar>.btn-group:after,.article:before,.article:after,.layout-content-a:before,.layout-content-a:after,.layout-content-b:before,.layout-content-b:after,.layout-content-d:before,.layout-content-d:after,.layout-content-e:before,.layout-content-e:after,.layout-content-g:before,.layout-content-g:after,.layout-content-h:before,.layout-content-h:after,.layout-content-j:before,.layout-content-j:after,.layout-content-k:before,.layout-content-k:after,.layout-content-n:before,.layout-content-n:after,.layout-content-o:before,.layout-content-o:after,.layout-content-r>div:before,.layout-content-r>div:after,.layout-content-s:before,.layout-content-s:after {
	content:" ";
	display:table
}

#F5-Footer {
	background-color:#4d4f53;
	padding:30px 0;
	color:#bfbfbf
}
#F5-Footer a,#F5-Footer a:visited {
	color:#fff;
	text-decoration:none
}
#F5-Footer a:hover {
	color:#bfbfbf
}
#F5-Footer ul.links {
	margin-left:-15px;
	margin-right:-15px;
	margin-bottom:30px
}
#F5-Footer ul.links>li {
	min-height:1px;
	padding-left:15px;
	padding-right:15px
}
#F5-Footer ul.links>li>p {
	text-transform:uppercase;
	margin:0px 0px 6px;
	font-family:Proxima,Helvetica,Arial,sans-serif;
	font-size:16px;
	color:#bfbfbf;
}
#F5-Footer ul.links ul a {
	padding:1px 0;
	display:inline-block;
	font-size:15px;
	vertical-align:middle;
	
}
#F5-Footer .social-media a:after {
	content:attr(title);
	margin-left:6px;
	vertical-align:middle
}
#F5-Footer .sub-footer>li+li:before {
	content:"|";
	padding:0 .25em;
	font-family:Proxima,Helvetica,Arial,sans-serif;
	color:#7c7d7d
}
#F5-Footer .sub-footer.nav>li+li:before {
	padding:0
}
#F5-Footer .sub-footer>li {
	display:inline-block;
	float:left
}
#F5-Footer .sub-footer a {
	color:#bfbfbf
}
#F5-Footer .sub-footer a:hover {
	color:#fff
}
#F5-Footer .legal-text {
	font-size:11px; padding-bottom:20px;
}
#F5-Footer ul.links > li {
    width: 25%;
    float: left;
}    
@media (max-width:767px) {
	#F5-Footer ul.links ul {  
		margin:0 10px 10px 10px;
    }  
	#F5-Footer ul.links {
		margin:0 10px 10px 10px;
		/*display:none*/
	}

  .list-unstyled, #F5-Footer ul.links ul {
      display: none;
  }

  #F5-Footer ul.links > li {
      width: 100%;
      float: left;
      padding-left: 0px;
  }  
  #F5-Footer ul.links > li > p {  
      cursor: pointer;
  }  
  .icon-down::before, .icon-chevron-down::before {
    content: "";
  }
  div#innerWrapDiv {
    margin-bottom: 75px;
  }
}
    .icon-f5:before{content:"\e008"}
    .icon-dc-pos:before{content:"\e60e"}
    .icon-dc:before{content:"\e60f"}
    .icon-linkedin:before{content:"\e00f"}
    .icon-facebook:before{content:"\f09a"}
    .icon-twitter:before{content:"\f099"}
    .icon-youtube:before{content:"\f167"}
    .icon-google-plus:before{content:"\f0d5"}
    .icon-github:before{content:"\e4ba"}
    .icon-blogger:before{content:"\e610"}
    .icon-wechat:before{content:"\e631"}
    .icon-weibo:before{content:"\e632"}
    .icon-youku:before{content:"\e630"}
    #F5-Footer .social-media i {
        text-align: center;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        display: inline-block;
        margin-right: 6px;
        margin-bottom: 2px;
    }  